<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <% if user_signed_in? %>
        <%= render 'user/users/user', user: @user %>
      <% else %>
        <div class="container">
          <div class="row mt-3">
            <div class="mx-auto">
              <div class="mt-5 text-center">
                <h4 class="bg-light">未登録の方はこちら</h4>
                <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-info" %>
              </div>
              <div class="mt-5 text-center">
                <h4 class="bg-light">登録済みの方はこちら</h4>
                <%= link_to "ログイン", new_user_session_path, class: "btn btn-success" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-8 offset-md-1 mt-3">
      <h2>募集掲示板</h2>
      <table class="table table-fover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>タイトル</th>
            <th>詳細</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
        <% @communities.each do |community| %>
        <tr>
          <td>
            <%= link_to user_path(community.user) do %>
              <%= attachment_image_tag book.user, :profile_image, fallback: "no_image.jpg", size: "40x40" %>
            <% end %>
          </td>
          <td>
            <%= link_to community.title, community_path(community.id) %>
          </td>
          <td>
            <%= community.text %>
          </td>
        </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
