<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <%= render 'user/users/user', user: @user %>
    </div>
    <div class="col-md-8 offset-md-1 mt-3">
      <div class="d-flex justify-content-between">
        <h2>～募集詳細～</h2>
        <% if user_signed_in? %>
          <% if @community.user_id == current_user.id %>
          <div>
            <%= link_to "編集", edit_community_path(@community), class: "btn btn-success" %><span> </span>
            <%= link_to "削除", community_path(@community), method: :delete, data: {confirm: "本当に消しますか？"}, class: "btn btn-danger" %>
          </div>
          <% end %>
        <% end %>
      </div>
      <div>
        <table class="table table-bordered col">
          <tr>
            <th>
              <h3 class="text-center"><%= @community.title %></h3>
            </th>
          </tr>
          <tr>
            <th>
              <%= @community.text %>
            </th>
          </tr>
          <tr>
            <td>
              コメント件数：<%= @community.community_comments.count %>
            </td>
          </tr>
          <tr>
            <td>
                <%= form_with model: [@community, @comment], local: true do |f| %>
                <%= f.text_area :comment, placeholder: "コメント" %>
                <div class="text-center mt-2">
                <%= f.submit "投稿", class: "btn btn-outline-success" %>
                <% end %>
                </div>
            </td>
          </tr>
          <% @comments.each do |community_comment| %>
          <tr>
            <td>
              <%= community_comment.user.handle %>：<%= community_comment.comment %><br>
              <%= community_comment.created_at.strftime('%Y/%m/%d') %>
              <% if user_signed_in? %>
                <% if @comment.user_id == current_user.id %>
                  <%= link_to "削除", community_community_comment_path(@comment), method: :delete, data: {confirm: "本当に消しますか？"}, class: "btn btn-outline-danger text-right" %>
                <% end %>
              <% end %>
            </td>
          </tr>
          <% end %>
      </table>
    </div>
  </div>
</div>