<div class="container">
  <div class="row">
    <div class = "text-center" style = "background-color:lightgray">アカウントID一覧</h4>
  </div>
</div>
<div class="container">
  <div class="row my-3">
    <div class="col-5 my-4">
      <%= form_with url:accounts_path, model:@account, local:true do |f| %>
      <table>
        <tr>
          <td>アカウントID</td>
          <td><%= f.text_field :account_name %></td>
          <td><%= f.submit "新規登録", class: "btn btn-success" %></button></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
  <div class="col-5">
    <table class="table">
      <thead class ="thead-light">
        <div class="row justify-content-center">
          <tr>
            <th>アカウントID</th>
            <th></th>
            <th></th>
          </tr>
        </div>
      </thead>
      <tbody>
          <% @accounts.each do |account| %>
            <tr>
              <td><%= account.account_name %></td>
              <td><%= link_to "編集する", edit_account_path(account), class: "btn btn-outline-success" %></td>
              <td><%= link_to "削除", account_path(account), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger" %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
    <div><%= link_to "戻る", user_path(current_user), class: "btn btn-outline-success" %></div>
</div>
