<div class="container">
  <div class="row mt-3">
    <div class ="col-3">
      <h4 class="text-center text-light bg-secondary">マイページ</h4>
    </div>
  </div>

  <table class="table table-borderless">
    <tr class="row">
      <td class="col-2"><strong>登録情報</strong></td>
      <td class="col-4"><%= link_to '編集する', edit_user_path(@user),class: "btn btn-success" %></td>
    </tr>
  </table>

  <table class="table table-border-dark">
    <tbody>
      <tr class="row">
        <td class="col-4"><%= attachment_image_tag @user, :image, :fill, 60, 60, fallback: "no_image.jpg" %></td>
      </tr>
      <tr class="row">
        <td class="col-2">ニックネーム</td>
        <td class="col-2"><%= @user.handle %></td>
      </tr>
      <tr class="row">
        <td class="col-2">アカウントID</td>
        <td class="col-2"><%= link_to "追加・編集", accounts_path, class: "btn btn-success" %></td>
      </tr>
      <% @accounts.each do |account| %>
      <tr class="row">
        <td class="col-4"><%= account.account_name %></td>
        <td></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>