<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <% if user_signed_in? %>
      <div class="container">
        <div class="row mt-3">
          <div class="mx-auto">
          <h2 class="text-center text-light bg-secondary">ユーザー詳細</h2>
          </div>
        </div>
        <table class="table table-borderless">
          <tr class="row">
            <td class="col-6 text-center pt-3"><strong>登録情報</strong></td>
            <td class="col-6 text-center"><%= link_to '編集する', edit_user_path(@user),class: "btn btn-success btn-sm" %></td>
          </tr>
        </table>
        <table class="table table-border-dark">
          <tbody>
            <tr class="row">
              <td class="col-12 text-center"><%= attachment_image_tag @user, :image, :fill, 60, 60, fallback: "no_image.jpg" %></td>
            </tr>
            <tr class="row">
              <td class="col-6 text-center">ニックネーム</td>
              <td class="col-6 text-center"><%= @user.handle %></td>
            </tr>
            <tr class="row">
              <td class="col-6 text-center">アカウントID</td>
              <td class="col-6 text-center"><%= link_to "追加・編集", accounts_path, class: "btn btn-success btn-sm" %></td>
            </tr>
            <% @accounts.each do |account| %>
            <tr class="row">
              <td class="col-6 text-center"><%= account.account_name %></td>
              <td></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% end %>
    </div>
    <div class="col-md-8 offset-md-1 mt-3">
      <div class="d-flex justify-content-between">
        <h2>募集掲示板</h2>
        <div>
          <%= link_to "新規投稿", new_community_path, class: "btn btn-outline-success" %>
        </div>
      </div>
      <table class="table table-fover table-inverse">
        <thead>
          <tr>
            <th class="col-2"></th>
            <th class="col-3">タイトル</th>
            <th>詳細</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
        <% @communities.each do |community| %>
        <tr>
          <td>
            <%= link_to user_path(community.user) do %>
              <%= attachment_image_tag community.user, :image, fallback: "no_image.jpg", size: "40x40" %>
            <% end %>
          </td>
          <td>
            <%= link_to community.title, community_path(community.id) %>
          </td>
          <td>
            <%= community.text %>
          </td>
        </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>