<div class="container">
  <div class="row mt-3">
    <h4 class = "text-center" style = "background-color:lightgray">アカウントID一覧・追加</h4>
  </div>
</div>
<div class="container">
  <div class="row my-3">
    <div class="col-5 my-4">
      <%= form_with url:accounts_path, model:@account, local:true do |f| %>
      <table>
        <tr>
          <td>アカウントID</td>
          <td><%= f.text_field :account_name %></td>
          <td><%= f.submit "新規登録", class: "btn btn-success" %></button></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
  <div class="col-5">
    <table class="table">
      <thead class ="thead-light">
        <div class="row justify-content-center">
          <tr>
            <th>アカウントID</th>
            <th></th>
          </tr>
        </div>
      </thead>
      <tbody>
        <% @accounts.each do |account| %>
          <tr>
            <td><%= account_name %></td>
            <td><%= link_to "編集する", edit_account_path(account), class: "btn btn-outline-success" %></td>
          </tr>
        <% end %>
      </tbody>
      </table>
      </div>
    </div>
